<div class="auth">
    <div class="row">
        <div class="col s12">
            <ul class="tabs">
                <li class="tab col s6"><a class="active" href="#login">Войти</a></li>
                <li class="tab col s6"><a href="#register">Зарегистрироваться</a></li>
            </ul>
        </div>
        <div id="login" class="col s6 offset-s3">
            {{#if loginError}}
                <p class="alert">{{ loginError }}</p>
            {{/if}}
            <h1>Авторизация</h1>
            <form action="/auth/login" method="post">
                <div class="row">
                    <div class="input-field">
                        <input id="email" name="email" type="text" class="validate" required>
                        <label for="email">Email</label>
                        <span class="helper-text" data-error="Пожалуйста, укажите Email."></span>
                    </div>
                    <div class="input-field">
                        <input id="password" name="password" type="password" class="validate" required>
                        <label for="password">Пароль</label>
                        <span class="helper-text" data-error="Пожалуйста, укажите пароль"></span>
                    </div>

                    <input type="hidden" name="_csrf" value="{{ csrf }}">

                    <p>
                        <a href="/auth/reset">Восстановить пароль</a>
                    </p>
                    <button class="btn btn-primary" type="submit">Войти</button>
                </div>
            </form>
        </div>
        <div id="register" class="col s6 offset-s3">
            {{#if registerError}}
                <p class="alert">{{ registerError }}</p>
            {{/if}}
            <h1>Регистрация</h1>
            <form action="/auth/register" method="post" novalidate >
                <div class="row">
                    <div class="input-field">
                        <input id="name" name="name" type="text" class="validate" required>
                        <label for="name">Ваше имя</label>
                        <span class="helper-text" data-error="Пожалуйста, укажите Имя."></span>
                    </div>

                    <div class="input-field">
                        <input id="remail" name="email" type="text" class="validate" required>
                        <label for="remail">Email</label>
                        <span class="helper-text" data-error="Пожалуйста, укажите Email."></span>
                    </div>

                    <div class="input-field">
                        <input id="rpassword" name="password" type="password" class="validate" required>
                        <label for="rpassword">Пароль</label>
                        <span class="helper-text" data-error="Пожалуйста, укажите пароль"></span>
                    </div>

                    <div class="input-field">
                        <input id="repeat" name="repeat" type="password" class="validate" required>
                        <label for="repeat">Повторите пароль</label>
                        <span class="helper-text" data-error="Пожалуйста, повторите пароль"></span>
                    </div>

                    <input type="hidden" name="_csrf" value="{{ csrf }}">

                    <button class="btn btn-primary" type="submit">Зарегистрироваться</button>
                </div>
            </form>
        </div>
    </div>
</div>
