<div class="row">
    <div class="col s6 offset-s3">
        {{#if error}}
            <p class="alert">{{ error }}</p>
        {{/if}}
        <h1>Восстановление пароля</h1>
        <form action="/auth/reset" method="post">
            <div class="row">
                <div class="input-field">
                    <input id="email" name="email" type="text" class="validate" required>
                    <label for="email">Email</label>
                    <span class="helper-text" data-error="Пожалуйста, укажите Email."></span>
                </div>

                <input type="hidden" name="_csrf" value="{{ csrf }}">

                <button class="btn btn-primary" type="submit">Восстановить</button>
            </div>
        </form>
    </div>
</div>
