<h1>Редактировать {{ book.title }}</h1>
<form action="/books/edit" method="post">
    <div class="row">
        <div class="input-field">
            <input id="title" name="title" type="text" class="validate" required value="{{ book.title }}">
            <label for="title">Название книги</label>
            <span class="helper-text" data-error="Пожалуйста, укажите название."></span>
        </div>
        <div class="input-field">
            <input id="price" name="price" type="number" class="validate" required min="1" value="{{ book.price }}">
            <label for="price">Стоимость</label>
            <span class="helper-text" data-error="Пожалуйста, укажите стоимость"></span>
        </div>

        <div class="input-field">
            <input id="img" name="img" type="text" class="validate" required value="{{ book.img }}">
            <label for="img">URl обложки</label>
            <span class="helper-text" data-error="Пожалуйста, укажите ссылку на обложку книги."></span>
        </div>

        <input id="id" name="id" type="hidden" class="validate" required value="{{ book._id }}">

        <input type="hidden" name="_csrf" value="{{ csrf }}">

        <button class="btn btn-primary">Редактировать</button>
    </div>
</form>

<form action="/books/remove" method="post">
    <input id="id" name="id" type="hidden" class="validate" required value="{{ book._id }}">
    <input type="hidden" name="_csrf" value="{{ csrf }}">
    <button class="btn red">Удалить</button>
</form>
