<h1>Книги</h1>

{{#if books.length}}
    {{# each books}}
        <div class="row">
            <div class="col s6 offset-s3">
                <div class="card">
                    <div class="card-image">
                        <img src="{{ img }}" title="{{ title }}">

                    </div>
                    <div class="card-content">
                        <span class="card-title">{{ title }}</span>
                        <p class="price">{{ price }}</p>
                    </div>
                    <div class="card-action actions">
                        <a href="/books/{{ _id }}" target="_blank">Посмотреть</a>
                        {{#if @root.isAuth}}
                            {{#compare userId @root.userId}}
                                <a href="/books/{{ _id }}/edit?allow=true">Редактировать</a>
                            {{/compare}}

                            <form action="/cart/add" method="post">
                                <input type="hidden" name="id" value="{{ _id }}">
                                <input type="hidden" name="_csrf" value="{{ @root.csrf }}">
                                <button class="btn btn-primary">Купить</button>
                            </form>
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
    {{/each}}
{{ else }}
    <p>Книг нет</p>
{{/if}}
