<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo">Библиотекарь</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li {{#if isHome}} class="active" {{/if}}>
                <a href="/">Главная</a>
            </li>
            <li  {{#if isBooks}} class="active" {{/if}}>
                <a href="/books">Книги</a>
            </li>

            {{#if isAuth}}
                <li  {{#if isAdd}} class="active" {{/if}}>
                    <a href="/add">Добавить книгу</a>
                </li>
                <li  {{#if isOrder}} class="active" {{/if}}>
                    <a href="/order/history">Заказы</a>
                </li>
                <li  {{#if isProfile}} class="active" {{/if}}>
                    <a href="/profile">Профиль</a>
                </li>
                <li  {{#if isCart}} class="active" {{/if}}>
                    <a href="/cart">Корзина</a>
                </li>
                <li>
                    <a href="/auth/logout">Выйти</a>
                </li>
            {{else}}
                <li  {{#if isLogin}} class="active" {{/if}}>
                    <a href="/auth/login#login">Войти</a>
                </li>
            {{/if}}
        </ul>
    </div>
</nav>
