<h1>Добавить книгу</h1>
{{#if error}}
    <p class="alert">{{error}}</p>
{{/if}}
<form action="/add" method="post" novalidate>
    <div class="row">
        <div class="input-field">
            <input id="title" name="title" type="text" class="validate" required value="{{ data.title }}">
            <label for="title">Название книги</label>
            <span class="helper-text" data-error="Пожалуйста, укажите название."></span>
        </div>
        <div class="input-field">
            <input id="price" name="price" type="number" class="validate" required min="1" value="{{ data.price }}">
            <label for="price">Стоимость</label>
            <span class="helper-text" data-error="Пожалуйста, укажите стоимость"></span>
        </div>

        <div class="input-field">
            <input id="img" name="img" type="text" class="validate" required value="{{ data.img }}">
            <label for="img">URl обложки</label>
            <span class="helper-text" data-error="Пожалуйста, укажите ссылку на обложку книги."></span>
        </div>

        <input type="hidden" name="_csrf" value="{{ csrf }}">

        <button type="submit" class="btn btn-primary">Добавить книгу</button>
    </div>
</form>
