<h1>Корзина</h1>

<div id="cart">
{{#if books.length}}
    <table>
        <thead>
        <th>Название</th>
        <th>Кол-во</th>
        <th>Стоимость</th>
        <th>Действие</th>
        </thead>
        <tbody>
        {{#each books}}
            <tr>
                <td>{{ title }}</td>
                <td>{{ count }}</td>
                <td class="price">{{multiply count price}}</td>
                <td>
                    <button
                        class="btn btn-small js-remove"
                        data-id="{{ id }}"
                        data-csrf="{{ @root.csrf }}"
                    >
                        Удалить
                    </button>
                </td>
            </tr>
        {{/each}}
        </tbody>
    </table>
    <p><strong>Итого: </strong> <span class="price">{{ price }}</span></p>
    <form action="/order/create" method="post">
        <input type="hidden" name="_csrf" value="{{ csrf }}">
        <button type="submit" class="btn">Заказать</button>
    </form>
{{else}}
    <p>Корзина пуста</p>
{{/if}}
</div>
