<h1>Мои заказы</h1>

{{#if orders.length}}
    {{#each orders}}
        <div class="row">
            <div class="col s6 offset-s3">
                <div class="cart">
                    <div class="cart-content">
                        <span class="cart-title">
                            Заказ <small>{{ _id  }}</small>
                        </span>
                        <p class="date">{{ date }}</p>
                        <p><em>{{ user.userId.name }} ({{ user.userId.email}})</em></p>
                        <ol>
                            {{#each books}}
                                <li>
                                    {{ book.title }}  (x <strong> {{ count }}</strong>) {{ book.price }} руб./шт
                                </li>
                            {{/each}}
                        </ol>
                        <hr/>
                        <p>Цена: <span class="price"> {{ price }}</span></p>
                    </div>
                </div>
            </div>
        </div>
    {{/each}}
{{else}}
    <p>Зказов нет</p>
{{/if}}
