<h1>Профайл</h1>

<div class="row">
    <div class="col s6">
        {{#if user.avatarUrl}}
            <img
                    class="avatar"
                    src="/{{ user.avatarUrl }}"
                    alt="{{ user.name }}"
            >
        {{ else }}
            <p>Аватара нет</p>
        {{/if}}
    </div>
    <div class="col s6">
        {{#if error}}
            <p class="alert"> {{ error }}</p>
        {{/if}}

        <form action="/profile" method="post" enctype="multipart/form-data">
            <p>Ваш email: <strong>{{user.email}}</strong></p>
            <div class="input-field">
                <input id="name" name="name" type="text" class="validate" required value="{{ user.name }}">
                <label for="name">Имя</label>
                <span class="helper-text" data-error="Имя не может быть пустым."></span>
            </div>

            <div class="file-field input-field">
                <div class="btn">
                    <span>Аватар</span>
                    <input name="avatar" type="file">
                </div>
                <div class="file-path-wrapper">
                    <input class="file-path validate" type="text">
                </div>
            </div>

            <input type="hidden" name="_csrf" value="{{ csrf }}">

            <button class="btn btn-primary" type="submit">Изменить</button>
        </form>

    </div>
</div>
