.nav-wrapper {
    padding: 0 2rem;
}

.price {
    font-size: 2rem;
}

.book {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.book h1 {
    margin-bottom: 2rem;
}

.book img {
    max-width: 600px;
    height: auto;
}

.book .price.big {
    font-size: 2.5rem;
}

.card-action.actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.auth {
    padding: 1rem;
}

.alert {
    padding: .5rem 1rem;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 1rem;
    background-color: rgba(255,0,0, .1);
    color: indianred;
}

img.avatar {
    max-width: 300px;
    height: auto;
}
